<app-navbar></app-navbar>
<ng-container>
    <div class="container text-center">
        <div *ngIf="settings != []">
            <div *ngFor="let setting of settings">
                <div>
                    setting value: {{setting.settingKey}}
                </div>
                <div>
                    setting key: {{setting.settingValue}}
                </div>
                <div>
                    is read only: {{setting.isReadOnly}}
                </div>
            </div>
        </div>

    </div>

</ng-container>

