<app-navbar></app-navbar>
<ng-container>
    <div class="container bg-dark p-2 rounded-1 vh-100 overflow-auto">

        <!--Desktop Display - Search Fields / Audit Buttons -->
        <div class="d-none d-lg-block customBorder1 rounded-1 container" [formGroup]="filterForm">
            <div class="row text-center p-4">
                <div class="col-3">
    
                </div>
                <div class="col-2">
                    <button class="btn btn-success" [routerLink]="'/audit/new'">New Audit</button>
                </div>
                <div class="col-2">
                    <button class="btn btn-warning">Continue Audit</button>
                </div>
                <div class="col-2">
                    <button class="btn btn-danger" (click)="resetFilters()">Clear Filters</button>
                </div>
                <div class="col-3">
    
                </div>
            </div>

            <!--Desktop Display - Search Fields -->
            <div class="d-flex m-2">
                <div class="input-group m-3">
                    <span class="input-group-text">Zone</span>
                    <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInputGroup1" placeholder="Zone" formControlName="zoneControl" #zoneValDesktop (keyup)="filterByZone(zoneValDesktop.value)">
                    <label for="floatingInputGroup1">Search Here...</label>
                    </div>
                </div>
                    
                <div class="input-group m-3">
                    <span class="input-group-text">Audit Number</span>
                    <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInputGroup1" placeholder="Audit Number" formControlName="auditNumberControl" #auditNumValDesktop (keyup)="filterByAuditNumber(auditNumValDesktop.value)">
                    <label for="floatingInputGroup1">Search Here...</label>
                    </div>
                </div>

                <div class="input-group m-3">
                    <span class="input-group-text">Zone Category</span>
                    <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInputGroup1" formControlName="zoneCategoryControl" placeholder="Zone" #zoneCategoryValDesktop (keyup)="filterByZoneCategory(zoneCategoryValDesktop.value)">
                    <label for="floatingInputGroup1">Search Here...</label>
                    </div>
                </div>
                    
                <div class="input-group m-3">
                    <span class="input-group-text">Audit Status</span>
                    <div class="form-floating">
                    <select class="form-select for-select-lg" id="zoneCategory" formControlName="auditStatusControl" #auditStatusVal (change)="filterByAuditStatus(auditStatusVal.value)">
                        <option selected [value]="" disabled>Select a Zone Category</option>
                        <option *ngFor="let status of auditStatuses; index as i" [value]="status.id">{{status.statusName}}</option>
                    </select>
                    <label for="floatingInputGroup1">Search Here...</label>
                    </div>
                </div>
            </div>
        </div>

        <!--Phone Display - Search Fields -->
        <div class="d-lg-none">

            <div class="m-2 d-flex justify-content-between">
                <div class="float-start">
                    <button class="btn btn-outline-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"> Menu <i class="bi bi-arrow-bar-right"></i></button>
                </div>
                <div class="">
                    <p class="display-6 fst-italic text-white">Welcome, Aaron</p>
                </div>
                <div>
                </div>
            </div>

            <div class="offcanvas offcanvas-start w-75 border-light border-top" style="margin-top: 3.9rem;" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
                <div class="offcanvas-header bg-dark">
                    <h5 class="offcanvas-title display-6 fst-italic text-white" id="offcanvasScrollingLabel">Menu Options</h5>
                    <button class="btn btn-outline-light"><i class="bi bi-arrow-bar-left" data-bs-dismiss="offcanvas" aria-label="Close"></i></button>
                </div>
                <div class="offcanvas-body bg-dark">

                    <!--Phone Display - Search Fields -->
                    <div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item bg-dark"><button class="btn btn-success" [routerLink]="'/audit/new'">New Audit</button></li>
                            <li class="list-group-item bg-dark"><button class="btn btn-warning">Continue Audit</button></li>
                            
                            <li class="list-group-item bg-dark">       
                                <div class="input-group">
                                    <span class="input-group-text">Zone</span>
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="floatingInputGroup1" placeholder="Zone" #zoneVal (keyup)="filterByZone(zoneVal.value)">
                                        <label for="floatingInputGroup1">Search Here...</label>
                                </div>
                            </div></li>
                            <li class="list-group-item bg-dark">          
                                <div class="input-group">
                                    <span class="input-group-text">Audit Number</span>
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="floatingInputGroup1" placeholder="Audit Number" #auditNumVal (keyup)="filterByAuditNumber(auditNumVal.value)">
                                        <label for="floatingInputGroup1">Search Here...</label>
                                    </div>
                                </div>
                            </li>
                          </ul>
                        <div>
                            
                        </div>
                        <div>
                            
                        </div>
                 
                            
              
                    </div>

                </div>
            </div>

        </div>



        <div *ngIf="filteredAudits != [] && this.viewReady">
            <div *ngFor="let audit of filteredAudits; index as i">
                <!--Desktop View-->
                <div class="card m-2 p-2 customBorder2 d-none d-lg-block">
                    <div class="card-header display-6 fs-5 d-flex justify-content-between">
                        <div class="pt-1">
                            Audit Number: {{audit.auditNumber}} 
                            <span *ngIf="audit.auditStatus_ID == 1" class="btn btn-warning ms-5">Status: Incomplete</span>
                            <span *ngIf="audit.auditStatus_ID == 2" class="btn btn-warning ms-5">Status: Missing After Photos</span>
                            <span *ngIf="audit.auditStatus_ID == 3" class="btn btn-success ms-5">Status: Completed</span>
                        </div>
                        <div >
                            <a [routerLink]="'/audit/edit/' + audit.id" class="btn btn-primary">Edit</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-title display-6 fs-6">Audit Date: {{dateFormatter(audit.dateStarted)}} <span class="float-end">Total Score: {{audit.overallScore}}</span></p>
                        <p class="card-text display-6 fs-6">Zone: {{audit.zoneCategoryName}} <span class="float-end">Target Score: {{audit.targetScore}}</span></p>
                        <p class="card-text display-6 fs-6">Zone: {{audit.zoneName}} <span class="float-end">Submitted By: {{audit.employee_ID}}</span></p>
                    </div>
                </div>
                <!--Mobile View-->
                <div class="card m-2 p-2 customBorder2 d-lg-none">
                    <div class="card-header display-6 fs-5 d-flex justify-content-between">
                        <div class="pt-1">
                            Audit Number: {{audit.id}}
                        </div>
                        <div >
                            <a [routerLink]="'/audit/edit/' + audit.id" class="btn btn-primary">Edit</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text display-6 fs-6">Audit Date: {{dateFormatter(audit.dateStarted)}} <span class="float-end">Total Score: {{audit.overallScore}}</span></p>
                        <p class="card-text display-6 fs-6">Zone: {{audit.zoneName}}</p>
                        <p class="card-text display-6 fs-6">Submitted By: {{audit.employee_ID}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</ng-container>
