<app-navbar></app-navbar>
<ng-container>
    <div class="container bg-dark rounded-1">

        <!--Desktop Display - Search Fields / Audit Buttons -->
        <div class="d-none d-lg-block customBorder1 rounded-1 container">
            <div class="row text-center p-4">
                <div class="col-3">
    
                </div>
                <div class="col-2">
                    <button class="btn btn-success" [routerLink]="'/audit/new'">New Audit</button>
                </div>
                <div class="col-2">
    
                </div>
                <div class="col-2">
                    <button class="btn btn-warning">Continue Audit</button>
                </div>
                <div class="col-3">
    
                </div>
            </div>

            <!--Desktop Display - Search Fields -->
            <div class="d-flex m-2 ">
                <div class="input-group m-3">
                    <span class="input-group-text">Department</span>
                    <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInputGroup1" placeholder="Department">
                    <label for="floatingInputGroup1">Search Here...</label>
                    </div>
                </div>
                    
                <div class="input-group m-3">
                    <span class="input-group-text">Month</span>
                    <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInputGroup1" placeholder="Month">
                    <label for="floatingInputGroup1">Search Here...</label>
                    </div>
                </div>
            </div>
        </div>

        <!--Phone Display - Search Fields -->
        <div class="d-flex row text-center d-lg-none pt-3">
            <div class="col-6">
                <button class="btn btn-success" [routerLink]="'/audit/new'">New Audit</button>
            </div>
            <div class="col-6">
                <button class="btn btn-warning">Continue Audit</button>
            </div>
        </div>

        <!--Phone Display - Search Fields -->
        <div class="m-2 d-lg-none">
            <div class="input-group m-1">
                <span class="input-group-text">Department</span>
                <div class="form-floating">
                  <input type="text" class="form-control" id="floatingInputGroup1" placeholder="Department">
                  <label for="floatingInputGroup1">Search Here...</label>
                </div>
            </div>
                
            <div class="input-group m-1">
                <span class="input-group-text">Month</span>
                <div class="form-floating">
                  <input type="text" class="form-control" id="floatingInputGroup1" placeholder="Month">
                  <label for="floatingInputGroup1">Search Here...</label>
                </div>
            </div>
        </div>


        <div *ngIf="settings != [] && this.viewReady">
            <div *ngFor="let setting of settings">
                <div class="card m-2 customBorder2">
                    <div class="card-header display-6 fs-5 d-flex justify-content-between">
                        <div class="pt-1">
                            Audit Number: {{setting.settingKey}}
                        </div>
                        <div >
                            <a href="#" class="btn btn-primary">Edit</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-title display-6 fs-6">Audit Date: {{setting.settingValue}} <span class="float-end">Total Score: {{setting.isReadOnly}}</span></p>
                        <p class="card-text display-6 fs-6">Department: {{setting.id}} <span class="float-end">Submitted By: {{setting.isReadOnly}}</span></p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</ng-container>

